
 * {
    /* height & width now includes border & padding */
    box-sizing: border-box;
  }
  
body {
  display: grid;
  height: 100vh;
  text-align: center;
  font-family: sans-serif;
  }

img {
  display: block;
  margin: 0 auto;
  max-width:100%;
  height:auto;
}

.game {
  margin: 0 auto;  
}

.scoreboard {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20px 1fr;
  justify-self: start;
  color: rgb(189, 61, 61);
  /* font-weight: bold; */
  align-content: center;
  align-items: center;
  justify-items: start;
}

.grid{
  display:flex;
  flex-wrap:wrap;
  height:440px;
  width:440px;
}

.card-front{
  display:flex;
  flex-wrap:wrap;
  height:440px;
  width:440px;
}

.card-front > img{
  height:100px;
  width:100px;
} 

.card-back {
  display:flex;
  flex-wrap:wrap;
  height:440px;
  width:440px;
  position:absolute; 

}

.card-back > img {
  margin:5px;
  height:100x;
  width:100px;
  padding:10px 10px 10px 10px;
  background-color: rgba(230, 230, 190,0.7);
  filter: opacity(85%);
} 

.card-back >img:hover{
  border: 5px solid lightgray;
  border-radius: 5px;
  box-shadow:0px 0px 5px 5px rgba(141, 140, 140, 0.5);
}

button {
  margin:20px auto;
  padding:10px;
  background-color: black;
  color: white;
  border-radius: 15%;
  font-size: 20px;
}
button:hover {
  background-color: white;
  color: black;
}
